#youtubeplay-player {
  margin-bottom: 10px;
}

#youtubeplay-list {
  overflow-y: auto;
}

#youtubeplay-list ul {
  height: 138px;
  overflow-y: scroll;
}

#youtubeplay-list ul li {
  background: none;
  float: left;
  width: 31.5%;
  margin: 0 0 10px 1%;
  list-style: none;
}
#youtubeplay-list ul li a {
  width: 100%;
  display: block;
  border: 0;
}
#youtubeplay-list ul li  p {
  margin: 0;
}
#youtubeplay-list ul li:first-child {
  margin-left: 0;
}
#youtubeplay-list h2 {
  font-size: 16px;
}

#youtubeplay-list img {
  width: 100%;
}
