{{ attach_library('youtube_play_channel/global-styling') }}
{% if content %}
  {% block content %}
    <div id="youtubeplay-player" style="width: {{ width }} ?>px; height: {{ height }} ?>px;">
	    <iframe id="youtubeplay-frame" title="Youtube Video Player" width="{{ width }}" height="{{ height }} " src="" frameborder="0" allowfullscreen></iframe>
    </div>
    <div id="youtubeplay-list" style="width: {{ width }}px; height: {{ height }}px;">
      <ul>
        {% for key,value in content %}
        {% if thumb_title == "Yes" %}
          {% set title = value.title %}    
          {% else %}
          {% set title = '' %}
        {% endif %}
        {% if thumb_desc == "Yes" %}
          {% set description = value.description %}    
          {% else %}
          {% set description = '' %}
        {% endif %}
          <li><a href="#{{ key }}">
          <img src="{{ value.thumb }}">{{ title }}
         </a>
          {{ description }}
          </li>
        {% endfor %}    
      </ul>
    </div>
  {% endblock %}
{% else %}
   <h3> Could not fetch videos from youtube play.<h3>
{% endif %}
